############################################
# Environment Variables
############################################
.env
.env.*
!.env.example

############################################
# Maven
############################################
target/
.mvn/wrapper/maven-wrapper.jar

############################################
# Logs
############################################
*.log
logs/

############################################
# Spring Boot
############################################
*.jar
*.war
*.ear

############################################
# STS (Spring Tool Suite)
############################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################################
# IntelliJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr

############################################
# NetBeans
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################################
# VS Code
############################################
.vscode/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db
